* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.active {
  color: white;
  font-weight: bold;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --second-text-color: #ddd;
  --main-color: #00a3ff;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00e0d1;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.nav-title {
  position: fixed;
  top: 0;
  background-color: var(--second-bg-color);
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.nav-title a {
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-size: 30px;
  color: var(--text-color);
  transition: all 0.3s;
}

.nav-title h4 {
  color: var(--text-color);
  font-size: 25px;
}

.thumbnail {
  background-image: url("../../assets/images/thumbnail.jpeg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 25vh;
  position: absolute;
  top: 0;
  margin-top: 10vh;
  z-index: 1;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 22.5vh;
  z-index: 2;
  gap: 30px;
  margin-bottom: 30px;
}

.profile img {
  height: 25vh;
  width: 25vh;
  border-radius: 100%;
  border: 5px solid var(--bg-color);
}

.profile h4 {
  color: var(--main-color);
  font-size: 30px;
}

.post-indicator {
  display: flex;
  width: 30vw;
  justify-content: space-around;
  color: var(--text-color);
}

.post-indicator h3,
.post-indicator h5 {
  font-size: 120%;
}

.post-indicator div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4vw;
  height: 4vw;
}

.nav-portfolio {
  margin: 15px 0;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.nav-portfolio p {
  display: flex;
  width: 1vw;
  justify-content: center;
  color: var(--second-text-color);
  cursor: pointer;
  transition: all 0.3s;
}

.nav-portfolio p:hover,
.nav-title a:hover {
  color: #aaa;
}

.gallery {
  margin-top: 3vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  min-height: 50vh;
}

.img {
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}


.gallery h4 {
  color: #444;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 865px) {
  .post-indicator {
    width: 70%;
    margin-bottom: 10px;
  }

  .post-indicator h3,
  .post-indicator h5 {
    font-size: 100%;
  }
}

@media (max-width: 200px) {
  .post-indicator {
    width: 70%;
    margin-bottom: 10px;
  }

  .post-indicator h3,
  .post-indicator h5,
  .nav-portfolio p,
  .profile h4,
  .copyright,
  .nav-title h4,
  .nav-title a {
    font-size: 60%;
  }
}
